<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973008203665-juqncnpt6i2ei7731sk081m84k56ljm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973008203665-juqncnpt6i2ei7731sk081m84k56ljm7</string>
	<key>API_KEY</key>
	<string>AIzaSyCOdHEGOnU7dAkH5oKGBA0reF--ndNw_3w</string>
	<key>GCM_SENDER_ID</key>
	<string>973008203665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plasmaBusiness</string>
	<key>PROJECT_ID</key>
	<string>plasma-9a6ea</string>
	<key>STORAGE_BUCKET</key>
	<string>plasma-9a6ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973008203665:ios:dd4cc944f284fb0f5a3430</string>
</dict>
</plist>